NEXT_PUBLIC_SUPABASE_URL=https://haplmoswsojbibgamqju.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gbJA-2Tqt7SCeqokRLFuCQ_ubJy7QvD
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhcGxtb3N3c29qYmliZ2FtcWp1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODExMDc4NiwiZXhwIjoyMTAzNjg2Nzg2fQ.H0bn15yhjcmg63DFwXhccz6khHEWaMrXPv7plm_YDLY
