SMTP_HOST=email-ssl.com.br
SMTP_PORT=465
SMTP_USER=suporte@pecatho.com
SMTP_PASS=ZppL75@Nas#$
SMTP_FROM=suporte@pecatho.com
NEXT_PUBLIC_SITE_URL=https://checklist.stratcore.com.br
MERCADOPAGO_ACCESS_TOKEN=APP_USR-6080102446553854-071906-6830c6f9bbd6feca72bc70ed204a9ec9-9977164
NEXT_PUBLIC_SUPABASE_URL=https://haplmoswsojbibgamqju.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gbJA-2Tqt7SCeqokRLFuCQ_ubJy7QvD
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhcGxtb3N3c29qYmliZ2FtcWp1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODExMDc4NiwiZXhwIjoyMTAzNjg2Nzg2fQ.H0bn15yhjcmg63DFwXhccz6khHEWaMrXPv7plm_YDLY
